.mail-box {
  height: 50%;
  display: flex;
  flex-direction: column;

  .mail-title {
    text-align: center;
    font-size: 15px;
  }

  .mail-list {
    list-style: none;
    border: 1px solid #777;
    flex: 1;
    padding: 10px;
    overflow: auto;

    & > li {
      border-bottom: 1px dashed #ccc;
      padding: 5px;

      &:last-child {
        border: none;
      }

      b {
        cursor: pointer;
      }
    }
  }
}
